﻿@model DentalOffice_v2._0.Models.Bill

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Service
        </dt>
        @{ var serviceName = "";
            foreach (var item in Model.Bill_Item)
            {
                if (item.service_id == Model.service_id)
                {
                    serviceName = item.Service.name;
                }
            }
        }

        <dd>
            @serviceName
        </dd>

        <dt>
            Patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Full_name)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @{
                var date = Model.date.ToShortDateString();
            }
            @date
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
