﻿@model DentalOffice_v2._0.Models.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            Patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Full_name)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @{
                var date = Model.date.ToShortDateString();
            }
            @date
        </dd>

    </dl>
</div>
<h4>Bill item details</h4>
<table class="table">
    <tr>
        <th>
            Service
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>

    </tr>

    @foreach (var item in Model.Bill_Item)
    {
        <tr>
            <td>
                @item.Service.name
            </td>
            <td>
                @item.quantity
            </td>
            <td>
                @item.Service.price
            </td>
        </tr>
    }

</table>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.bill_id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

