﻿@model IEnumerable<DentalOffice_v2._0.Models.Bill>

@{
    ViewBag.Title = "Index";
}

<h2>Bills</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Patient
        </th>
        <th>
            Date
        </th>
        <th>Total cost</th>
        <th>Action</th>
    </tr>

    @{
        foreach (var item in Model)
        {
            double total = 0;
            foreach (var bItem in item.Bill_Item)
            {
                 total += (bItem.Service.price * bItem.quantity);
            }
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Patient.Full_name)</td>
        @{
            var date = item.date.ToShortDateString();
        }
        <td>
            @date
        </td>
        <td>@total</td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.bill_id }) 
            @*@Html.ActionLink("Delete", "Delete", new { id = item.bill_id })*@
        </td>
    </tr>
            }
     }
</table>
