﻿@model IEnumerable<DentalOffice_v2._0.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Doctors</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           First name
        </th>
        <th>
            Last name
        </th>
        <th>
            Specialty
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specialty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.doctor_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.doctor_id })
        </td>
    </tr>
}

</table>
