﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow bg-dark text-white">
            <img class="logo" src="~/Content/image/logo.png" width="30" height="30" alt="">
            <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Dental Office", "Index", "Home", new { area = "" }, new { @class = "brand-title navbar-brand text-white" })

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav text-white">
                    <li>@Html.ActionLink("Services", "Index", "Services", new { area = "" }, new { @class = "link " })</li>
                    <li>@Html.ActionLink("Doctors", "Index", "Doctors", new { area = "" }, new { @class = "link " })</li>
                    <li>@Html.ActionLink("Nurses", "Index", "Nurses", new { area = "" }, new { @class = "link " })</li>
                    <li>@Html.ActionLink("Patients", "Index", "Patients", new { area = "" }, new { @class = "link " })</li>
                    <li>@Html.ActionLink("Patient Files", "Index", "PatientFiles", new { area = "" }, new { @class = "link " })</li>
                    <li>@Html.ActionLink("Reservations", "Index", "Reservations", new { area = "" }, new { @class = "link " })</li>
                    <li>@Html.ActionLink("Bills", "Index", "Bills", new { area = "" }, new { @class = "link " })</li>
                </ul>
            </div>
            @Html.ActionLink("Logout", "LogOut", "Login", new { area = "" }, new { @class = "link " })
        </nav>
        <div class="container body-content">
            <div class="body"></div>
            @RenderBody()
        </div>

        <footer class="fixed-bottom  bg-primary text-white footer border-top">
            <p>&copy; @DateTime.Now.Year Dental Office-Team Presretaci</p>
        </footer>

    </div>

    @*<div class="container body-content">

            @RenderBody()
            <hr />
            <footer class="fixed-bottom">
                <p>&copy; @DateTime.Now.Year Dental Office-Team Presretaci</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
