﻿@model DentalOffice_v2._0.Models.Reservation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nurse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nurse.Full_name)
        </dd>

        <dt>
            Patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Full_name)
        </dd>

        <dt>
            Service
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.name)
        </dd>
        <dt>
            Date
        </dt>

        <dd>
            @{
                var date = Model.date.ToShortDateString();
            }
            @date
        </dd>
        <dt>
            Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
