﻿@model DentalOffice_v2._0.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nurse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nurse.Full_name)
        </dd>

        <dt>
            Patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Full_name)
        </dd>

        <dt>
            Service
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.name)
        </dd>
        <dt>
            Date
        </dt>

        <dd>
            @{
                var date = Model.date.ToShortDateString();
            }
            @date
        </dd>
        <dt>
           Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.reservation_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
