﻿@model DentalOffice_v2._0.Models.Reservation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit reservation</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.reservation_id)

        @Html.HiddenFor(model => model.date)

        @Html.HiddenFor(model => model.time)

        @Html.HiddenFor(model => model.patient_id)

        @Html.HiddenFor(model => model.service_id)

        <div class="form-group">
            @Html.LabelFor(model => model.nurse_id, "Nurse", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("nurse_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nurse_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
