﻿@model IEnumerable<DentalOffice_v2._0.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Reservations</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Patient
        </th>
        <th>
            Nurse
        </th>
        <th>
            Service
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nurse.Full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.name)
        </td>
        @{
            var date = item.date.ToShortDateString();
        }
        <td>

            @date
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.reservation_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.reservation_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.reservation_id })
        </td>
    </tr>
}

</table>
