﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.7), rgba(255, 255, 255,0.1)),url('/Content/image/login.jpg');
    background-position: center;
    background-size: cover;
}
.center-form {
    position:absolute;
    padding:2.5rem;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color:#ffffff;
    transition:all .4s;
}


.h1{
    color:#fff;
    font-weight:700;
    text-align:center;
    text-shadow:0 0 3px #000;
    margin-top:2rem;
}

#password, #username {
    position:relative;
    transition: all .4s;
    transform: scale(0.9);
    z-index: 199;
    background-color:transparent;
}

#usernameLBL, #passwordLBL {
    position:relative;
    transition: all .4s;
    transform: translateY(150%) scale(0.9);
    z-index:198;
    padding:0 1rem;
}
.logout {
    font-weight: 700;
    color: #fff;
}

.home {
    
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('/Content/image/home.jpg');
    background-position: center;
    background-size: cover;
}


.container-fluid{
    margin-top: 0;
}


.link {
    align-self: center;
    color: #d9d7d7;
    font-weight: 700;
    margin: 0 .5rem;
    padding: 0 .5rem;
    border: none;
    transition: all .4s;
    box-shadow: none;
    text-transform:uppercase;
}

    .link:hover {
        color: #007bff;
        text-decoration: none;
    }
    .link:active {
        color: #FFF;
        text-decoration: none;
    }

.brand-title {
    letter-spacing: 4px;
    font-weight: 700;
    border: none;
    transform: none;
    box-shadow: none;
}
    .brand-title:hover {
        transform: scale(1);
    }

    .footer {
        padding: 0.5rem 1rem;
        text-align: center;
    }

.logo{
    margin-right:.5rem;
}


a, a:active {
    font-weight: 700;
    border: 1px solid #007bff;
    border-radius:4px;
    padding:3px 8px;
    box-shadow:0 2px 3px rgba(0,0,0,0.2);
}
    a:hover {
        text-decoration: none;
        transition: all .4s;
        color: #343a40;
        border-color: #343a40;
    }

table {
    box-shadow:0 4px 10px rgba(0,0,0,.4);
    border-radius:3px;
}
    table tr:nth-child(even) {
        background-color: rgba(216, 216, 216, 0.6);
    }
    table tr:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.6);
    }
    table th {
        background-color: #6c757d;
        color: #fff;
    }

.body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255, 255, 255,0.5)),url('/Content/image/body.jpg');
    background-position: center;
    background-size: cover;
}

.welcome-text {
    color:#343a40;
}

#error {
    font-weight: 700;
    color: #d10303;
    opacity: 1;
    padding-top: 1rem;
    text-shadow: 0 0 2px #d10303;
    text-align:center;
    transition: all .4s;
}

.sbt{
    margin:0 auto;
}


.active-link {
    color: #007bff;
}