﻿
@{
    Layout = null;
    var msg = TempData["msg"];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    

    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="login"><h1 class="h1">Log in to continue</h1></div>

        <h4>Form</h4>
        <div class="border rounded shadow-lg shadow center-form" id="loginForm">

            <form action="/Login/SignIn" method="post" onsubmit="validate();">
                <div class="form-group">
                    <label for="formGroupExampleInput" id="usernameLBL">Enter username</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2" id="passwordLBL">Enter your password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>

                <input class="btn btn-primary sbt" type="submit" name="Submit" value="Submit" />
            </form>
            <p id="error">@msg</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/main.js")
</body>
</html>
