﻿@model DentalOffice_v2._0.Models.Service

@{
    ViewBag.Title = "Details";
}

<h2>Service details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.service_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
