﻿@model IEnumerable<DentalOffice_v2._0.Models.Service>

@{
    ViewBag.Title = "Index";
}

<h2>Services</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Name
        </th>
        <th>
            Price
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.service_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.service_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.service_id })
        </td>
    </tr>
}

</table>
