﻿@model DentalOffice_v2._0.Models.InfoMessage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Html.DisplayFor(model => model.Text)</h2>
<asp:button id="backButton" class="btn btn-primary" runat="server"
            OnClick="history.back()">Add more items</asp:button>
@Html.ActionLink("Go to bills", "Index", "Bills")

