﻿@model DentalOffice_v2._0.Models.Intervention

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Intervention</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nurse.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nurse.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientFile.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientFile.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.intervention_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
