﻿@model IEnumerable<DentalOffice_v2._0.Models.Intervention>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nurse.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientFile.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nurse.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientFile.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.intervention_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.intervention_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.intervention_id })
        </td>
    </tr>
}

</table>
