﻿@model DentalOffice_v2._0.Models.PatientFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Patient File</h4>
    <hr />
    
    <dl class="dl-horizontal">
        <dt>
            Patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Full_name)
        </dd>

    </dl>
</div>
<h4>Interventions</h4>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Service
        </th>
        <th>
            Doctor
        </th>
        <th>
            Nurse
        </th>

    </tr>

    @foreach (var item in Model.Interventions)
    {
       
            var date = Model.date.ToShortDateString();
        
    <tr>
        <td>
            @date
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nurse.Full_name)
        </td>

    </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
