﻿@model IEnumerable<DentalOffice_v2._0.Models.PatientFile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Patient
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Full_name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.patientfile_id })
        </td>
    </tr>
}

</table>
