﻿@model IEnumerable<DentalOffice_v2._0.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Patients</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<form class="form-inline" action="/Patients/Search/" method="post">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" name="id" id="search" placeholder="Search by name...">
    </div>
    <input type="submit" class="btn btn-primary mb-2" value="Search">
</form>
<table class="table">
    <tr>
        <th>
            First name
        </th>
        <th>
            Last name
        </th>
        <th>
            Date of birth
        </th>
        <th>
            Phone number
        </th>
        <th>
            Address
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @{
                    var date = item.date_of_birth.ToShortDateString();
                }
                @date
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.street_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.patient_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.patient_id })
            </td>
        </tr>
    }

</table>

