﻿@model DentalOffice_v2._0.Models.Bill_Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill_Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bill.bill_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bill.bill_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.name)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
