﻿@model IEnumerable<DentalOffice_v2._0.Models.Bill_Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Service.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.price)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.bill_item_id }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.bill_item_id }) |
            @*@Html.ActionLink("Delete", "Delete", new { id = item.bill_item_id })*@
        </td>
    </tr>
}

</table>
