﻿@model DentalOffice_v2._0.Models.Nurse
@{
    ViewBag.Title = "Home Page";
}

<h1 class="welcome-text ">Welcome&nbsp;@Model.username</h1>
<h3>First name: @Model.first_name</h3>
<h3>Last name: @Model.last_name</h3>


